ros2gui-env
img/*

scanCONTROL-Linux-SDK-1-0-1
cri_lib/__pycache__/__init__.cpython-310.pyc
cri_lib/__pycache__/cri_controller.cpython-310.pyc
cri_lib/__pycache__/cri_errors.cpython-310.pyc
cri_lib/__pycache__/cri_protocol_parser.cpython-310.pyc
cri_lib/__pycache__/robot_state.cpython-310.pyc
ros2gui/__pycache__/gantry_config.cpython-310.pyc
ros2gui/__pycache__/main_window.cpython-310.pyc
ros2gui/__pycache__/scanner_config.cpython-310.pyc
ros2gui/__pycache__/utils.cpython-310.pyc
ros2gui/__pycache__/xarm_config.cpython-310.pyc

# Ignore pycache files
**/__pycache__/*

# Ignore log files
*.log
logs/
**/logs/

# Ignore output data
output/