img/*

scanCONTROL-Linux-SDK-1-0-1
cri_lib/__pycache__/__init__.cpython-310.pyc
cri_lib/__pycache__/cri_controller.cpython-310.pyc
cri_lib/__pycache__/cri_errors.cpython-310.pyc
cri_lib/__pycache__/cri_protocol_parser.cpython-310.pyc
cri_lib/__pycache__/robot_state.cpython-310.pyc

# Ignore pycache files
**/__pycache__/*

# Ignore log files
*.log
logs/
**/logs/

# Ignore output and build folders
output/
build/

# Ignore configuration files
scenario_inspector/config/app_config.yaml
.env

# Remove spec files
*.spec
scenario_inspector/src/auas_scenario_inspector.egg-info/*

scan_tools/Open3D-Tutorial/*
